body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.LogInContainer{
    width: 40%;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    text-align: center;

}

h1{

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid black 1px;

}

 input{
    border: none;
border-bottom: 1px solid black;
margin-bottom: 20px;
width: 70%;
height:  30px;


 }

 a{
    font-size: small;
    text-decoration: none ;
 }







